

.main{background:#eee; padding-bottom:4rem;}
.main h2{ font-size:1.2rem; color:#333; height:4.2rem; line-height:4.2rem; padding-left:1.5rem; background:#fff; margin:1rem 0; }
.main h2 span{ font-size:1.2rem; color:#f06868;}


.main dl{ background:#fff;padding:0.8rem;font-size:1.2rem;color:#666; height:auto; overflow:auto;}
.main dl.first{ padding-top:1.6rem;}
.main dl.last{ padding-bottom:1.6rem;}
.main dt{ width:21%; height:3rem; line-height:3rem; text-align:right; float:left;}
.main dd{ width:79%; float:right;}
.main dl input{ height:3rem;}
.main dl select{height:3.1rem;}

.main .btnduihuan{ margin:0 2.5rem;}
.main a{ display:inline-block; width:12.25rem; height:3.2rem; margin-top:2rem;}
.main a.first{ margin-right:2rem;}
.main .money{ background:#fff; font-size:1rem;padding:0 0.8rem 1.6rem; text-align:right; }
.main .money span{color:#f06868; }

footer{font-size:1.2rem; color:#999; overflow:hidden; padding:1rem; }

