
.color666{ color:#666;}
.color999{ color:#999;}
.main{ margin-top:0.9rem; font-family:"Microsoft Yahei";background-size:100%; padding-bottom: 5rem;}
.main dl{ margin-bottom: 0.5rem; padding:1rem;height:4.5rem; background:#fff;}
.main dl .img{width:5rem;height:5rem; display:inline-block;}
.main dt{float:left; }
.main dd { float:left; margin-left: 1rem;width:23.5rem;}
.main h3{font-size:1rem;  }
.main h3 a{color:#333;}
.main h3 span{ color:#da5155; display:inline-block; margin-left:0.5rem;}
.main h3 i{ display:inline-block; float:right; color:#f06868; text-align:center; }
.main h3 i.ending{ width:5.5rem; color:#999;}
.main h3 i em.lose{background:url("../images/jiang1.png") no-repeat; background-size:100%;display:inline-block; width:1.4rem; height:1.4rem;   vertical-align:middle;}
.main h3 i em.win{background:url("../images/jiang.png") no-repeat; background-size:100%;display:inline-block; width:1.4rem; height:1.4rem;   vertical-align:middle;}
.main p{ position:relative;}
.main p span.time{ font-size:0.9rem; display:block; padding: 0.4rem 0;}
.main p span.content{ font-size:0.9rem; display:inline-block; width:70%; height:1.2rem; overflow:hidden;}
.main p a.btn{ width:5.5rem; display:block; height:1.8rem; line-height: 1.8rem; background:#f06868; color:#fff; font-size:1rem; text-align:center; position:absolute;right:0.1rem; bottom:0.1rem;}
.main p a.remaintime{ position:absolute; right:0.1rem; bottom:0.1rem;font-size:0.9rem; color:#999; }
.main p a em{color:#f06868;}


.main .detail{height:3rem; line-height: 3rem; border-bottom:solid 1px #eaeaea; background:#fff; color:#999; }
.main .label{display:inline-block; width:22%; font-size:1rem; color:#666; text-align:right;}
.main .word{display:inline-block; width:76%;font-size:0.9rem;}

.btn1{ width:23.5rem; height:3.2rem; line-height:3.2rem; display:block; margin:0 auto; text-align:center; font-size:1.4rem; color:#fff;background:url(../images/usersetting2.png) no-repeat; background-size:100%; }


.feedback_div{ display:none;}
.OrderEnd_div{display:none; margin-top:1rem; border:0 !important;}
.OrderQuestion_div{ padding-top:1rem;padding-left:10%; display:none;}
.OrderQuestion_div span{ font-size:1rem; display:block; padding-left:1rem; border:solid 1px #ccc; height:2rem; line-height:2rem; width:80%; border-radius:2rem; text-align:center;}

.g_OrderQuestion{display:none; }
.g_OrderQuestion .bg{ position:absolute;left:0;top:0; width:100%; height:100%;background:#eee;z-index:99; }
.g_OrderQuestion .tijiao{ position:absolute; z-index:990; width:100%;height:100%;top:50rem;}
.g_OrderQuestion .tijiao textarea{display:block; width:100%; height:10rem; }
.g_OrderQuestion .interval{ height:0.9rem; background:#eeeeee; width:100%;}

.g_OrderQuestion .g_top{ position:absolute;top:0; left:0; z-index:990; width:100%; padding:0;}
.g_OrderQuestion .g_top a{ padding-left:1rem;}
.g_OrderQuestion .close { display:block; width: 1.7rem; height: 1.7rem;  float:right; position:absolute; right:0.8rem; top:0.3rem;  }
.g_OrderQuestion .close:before, .g_OrderQuestion .close:after {  content: ''; position: absolute; top:1.7rem; right:1rem;  width: 1.7rem; height: 1px;background-color: #fff; -webkit-transform: rotate(45deg);transform: rotate(45deg);}
.g_OrderQuestion .close:after {  -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
