

.banner{ background:url('../images/ldbanner.jpg') no-repeat; background-size:100%; height:17.15rem; position:relative;  }
.banner .menu{ position:absolute; height:3.5rem; bottom:0; width:100%; }
.banner .menu li{float:left; width:33.33%; font-size:1.2rem; color:#cccccc; height:3.2rem; padding-top:0.3rem; text-align:center; opacity: 0.8; filter:alpha(opacity=80); background:#333;}
.banner .menu li span{ font-size:1rem; display:block;}
.banner .menu li.hover{ color:#e23955;background:#fff55a; opacity: 1; filter:alpha(opacity=100); }
.banner .menu li.hover span{ color:#e23955;}
.banner .menu li:last-child{ width:33.345%; }

.rule{margin:2rem 1rem 2rem 1.5rem; overflow:hidden;}
.rule dt{ float:left;}
.rule dd{float:right;}
.rule h2{ font-size:1.2rem; color:#444444;}
.rule p{ font-size:1rem;color:#999999; padding-top:0.8rem;}
.rule a{ display:block;width:6rem; height:2.25rem; background:#479ef6; color:#fff; text-align:center; line-height:2.25rem; margin-top:1rem; font-size:1rem;}

.jackpot{ background:url('../images/ldmoney.jpg') no-repeat; background-size:100%; height:3.3rem;  padding-top:4.5rem; padding-left:1.5rem; }
.jackpot span{ font-size:1.8rem; color:#fff;}
.jackpot em{ font-size:1.2rem; padding-left:0.5rem;}

.dec{ font-size:1.1rem; color:#999; line-height:2rem; padding-top:1rem; padding-left:2rem;}
.dec .r{ color:#f13e5c;}
.dec .b{ color:#444;}

.btn-baoming{ width:72%; height:4rem; line-height:4rem; text-align:center; border-radius:4rem; background:#3c97f4; font-size:1.6rem; color:#fff; margin:3.3rem auto; cursor:pointer;}


.alert ul{padding:1rem 1rem 0;}
.alert li{font-size:0.9rem; color:#666; margin-bottom:0.8rem; text-align:justify;}
.alert li.ts{ line-height: 1.5rem;}
.alert li i{ display:inline-block; width:1.1rem; height:1.1rem; line-height: 1.1rem; border-radius: 1.1rem; background:#e79d27; color:#fff; text-align: center; margin-right:0.5rem;}
.alert li span.gray{color:#999; }
.alert li span.red{color:#da5155; }
.alert li em{ display:inline-block;width:1.6rem;}