

.main{ font-family:"Microsoft Yahei";}
.main ul{ background:#fff; margin-top:1rem;}
.main li{ height:4.6rem; border-bottom:solid 0.05rem #ededed;}
.main li span{ display:inline-block;}
.main li span.time{ font-size:1rem;  margin-left:1.5rem;margin-top:1rem;  width:6rem;}
.main li span.time b{color:#666; display:block;}
.main li span.time em{ display:block;color:#999;}

.main li span.img{  width:2.5rem; height:2.5rem;font-size:1rem; line-height:2.5rem; border-radius:2.5rem; background:#f06868;color:#fff; text-align:center; vertical-align:text-bottom;  }
.main li span.word{ font-size:1rem; color:#999;vertical-align:top;margin-top:0.8rem; margin-left:2rem; width:3rem; text-align:center; }
.main li span.word em{ font-size:1.2rem; color:#333; display:block;}
.main li span.word em.red{color:#f06868;}
.main li a{ display:block; width:100%; height:4.6rem;}




