
.main{ padding:0 1rem; color:#444;}
.main h2{ font-size:1.4rem; padding-top:1rem;}
.main p{ text-indent:2rem; font-size:1.2rem; line-height:2rem; text-align:justify;}
.main i{font-size:1.2rem; display:block;}
.main h3{ font-weight:normal; font-size:1.2rem;}


footer{ font-size:1rem; color:#999; position:absolute; bottom:1rem; text-align:center; left:25%; }


