/*头部开始 */
.main dl{padding:0 1rem 1.5rem ; font-size:1rem; color:#999; background:#fff;line-height:1.8rem; overflow:hidden;}
.main dl a{color:#73c3fb;}
.main dl:first-child{ margin-top:1rem; padding-top:1.5rem;}
.main dt{  float:left; width:4%;}
.main dd{ float:left; width:96%; }
.main dl .text1{margin:1rem 0; color:#666; border:solid 1px #d3d3d3; background:#f2f2f2; width:70%; height:3rem; line-height:3rem; text-align:center; display:inline-block;float:left;}

.main h2{ font-size:1.4rem; color:#73c3fb;text-align:center; border-bottom:solid 1px #e8e8e8; margin-top:1rem; padding:1.5rem 0 1rem;  background:#fff;}
.main .step{ font-size:1rem;color:#999; text-align:center;  background:#fff; padding:1rem 0 0.8rem;}
.main .step span{ color:#f27877;}
.main .w{ width:50%; float:left;}
.main ul{ padding:0 1rem; background:#fff; overflow:hidden;}
.main li{float:left; width:48%;}
.main li.rt{float:right;}

.main .footer{ background:#fff; height:2rem;}

.copy {width:18%;border:solid 1px #d3d3d3;color:#666; font-size:1rem; border-left:0; height:3.2rem;line-height:3.2rem;float: left;text-align: center;border-radius:0;padding: 0; display:inline-block;margin:1rem 0;}
.copy1 {width:10%;border:solid 1px #d3d3d3;color:#666; font-size:1rem; border-left:0; height:1.2rem;line-height:1.2rem; text-align: center;border-radius:0;padding: 0; display:inline-block;margin:0; display:inline; float:none; }


.qq{ display:inline-block; }