.main .banner{ height:18.55rem;background:url(../images/aboutus.jpg) no-repeat; background-size:100%;}

.main{background:#eee; font-family:"Microsoft Yahei"; padding-bottom: 5rem;}
.main ul{padding:3.5rem 3rem 3rem;}
.main li{height:4.5rem;}
.main li:last-child{border:0; }
.main li span{font-size:1rem; color:#999; float:right; padding-right: 1rem;}
.main li a{ display:block; width:100%; height:100%;font-size:1rem; color:#999;}
.main .agree img{ width:1.5rem; height:1.5rem; vertical-align:middle; display:inline-block;}
.main li span.red{color:#f06868;}

footer{ font-size:1rem; color:#999; position:absolute; bottom:1rem; text-align:center; left:25%; }
.main .text{ height:3rem; border:solid 1px #dcdcdc; background:#eee; border-radius:3rem; text-align:center; color:#bebebe;}
.main li.ts .text{ float:left; border-radius:3rem 0 0 3rem; width:65%;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; }
.main li.ts a{border-radius:0 3rem 3rem 0; display:inline-block; background:#ff952d; float:right;width:35%; color:#fff; font-size:1rem; height:3rem; text-align:center; line-height:3rem;}
.main li.ts a.time{background:#cfcfcf; display:none;}
.main li.ts img{border-radius:0 3rem 3rem 0;width:35%; color:#fff; font-size:1rem; height:3rem; text-align:center; line-height:3rem; float:right; cursor:pointer; }
.main li a.terms{ display:inline-block; width:40%; margin-left:0.5rem; vertical-align:middle; height:1.5rem;}
.main li a.btn{ width:100%; background:#f06868; font-size:1.2rem; color:#fff; height:3rem; line-height:3rem; text-align:center;border-radius:3rem; }
.main li a.hasAccount{ display:inline-block; float:left; width:46%; padding-left:4%;}
.main li a.login{ display:inline-block; float:right; color:#333; width:46%; text-align:right; padding-right:4%;}

.modal{ width:26rem; height:11.6rem;border-radius:0.5rem; background:#fff; position:absolute; left:50%; top:50%; margin-top:-5.8rem; margin-left:-13rem; display:none; }
.modal .modal-header{height:3rem; line-height:3rem; text-align:left; padding-left:1rem; font-size:1rem; color:#666; background:#f0f0f0;border-radius:0.5rem 0.5rem 0 0;}
.modal .modal-body{ height:17.5rem;border-radius:0 0 0.5rem 0.5rem; padding:2rem 1rem;}
.modal .modal-header .close { display:block; width: 1.5rem; height: 1.5rem;  float:right;  }
.modal .modal-header .close:before, .close:after {  content: ''; position: absolute; top:1.5rem; right:1rem;  width: 1.5rem; height: 1px;background-color: #888; -webkit-transform: rotate(45deg);transform: rotate(45deg);}
.modal .modal-header .close:after {  -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

.geetest_holder.geetest_wind{min-width:18rem !important;}


.m-protocol{ padding:0 1rem; color:#444;}
.m-protocol h2{ font-size:1.4rem; padding-top:1rem;}
.m-protocol p{ text-indent:2rem; font-size:1.2rem; line-height:2rem; text-align:justify;}
.m-protocol i{font-size:1.2rem; display:block;}
.m-protocol h3{ font-weight:normal; font-size:1.2rem;}
.footer{ font-size:1rem; color:#999; position:absolute; bottom:1rem; text-align:center; left:25%; }