/* 头部开始 */
.g_t{ height:20.15rem; background:url(../images/user_bg.jpg) no-repeat; background-size:100%; position:relative; }
.g_t .img{ padding-top:4rem; margin:0 auto; }
.g_t a.image img{width:6.75rem; height:6.75rem;border-radius: 6.75rem;}
.g_t a.image{width:6.75rem; height:6.75rem; display:block;border:solid 0.3rem #fff; border-radius: 6.75rem; margin:0 auto;}
.g_t .totalMoney{font-size:1.4rem; color:#fff; text-align:center; margin-top:2rem;}
.g_t .totalMoney .label{ border-right:solid 1px #fff; padding-right:0.8rem;}
.g_t .totalMoney .money{ padding-left:0.5rem;}
.g_t .back{ display:inline-block; width:0.8rem;height:1.35rem; top:1.3rem; left:1.3rem; position:absolute;}
.g_t .bg_money{width:100%; height:3.8rem; line-height: 3.8rem; background:#fff; position:absolute; bottom:0; filter: alpha(opacity=10); opacity: 0.1;}
.g_t h2{ text-align: center; color:#fff; font-size:1.2rem; font-weight: normal;padding:0.5rem 0;}
.g_t h2 a{color:#fff;}
.g_t h3{text-align: center; color:#fff; font-size:1rem; font-weight: normal;}
/* 头部开始 */
.main{ font-family:"Microsoft Yahei"; padding-bottom: 5rem; margin-bottom:3rem;}
.main ul{ background:#fff; margin-top:1rem;}
.main ul.last{ margin-top:0;}
.main .bg-color{ background:#eee; height:1rem;}
.main li{height:3.5rem; padding:0 1rem; line-height: 3.5rem; border-bottom:solid 1px #eaeaea;}
.main li:last-child{border:0; }
.main li img{ width:1.5rem; height:1.5rem; margin:0; display:inline-block; vertical-align: sub; padding-right:0.5rem;}
.main li span{font-size:1rem; color:#ccc; float:right; padding-right: 1rem;}
.main li a{ display:block; width:100%; height:100%;font-size:1rem; color:#333;}
.main li em{ display:inline-block;float:right;background:url(../images/jt_left.jpg) no-repeat 0 50%; margin-top:1.125rem; background-size:100%; width:0.7rem;height:1.25rem; }

.bdsharebuttonbox{position:fixed;  width: 100%; z-index:998;font-size:1rem;max-width:640px; min-width:320px;bottom:-10rem;}
.bdsharebuttonbox .Share_objects{background: #fff;border-radius:0.5rem;}
.bdsharebuttonbox a{display:block; text-align: center;width: 100%; padding:1rem 0; color:#38a3eb;border-bottom: 1px solid #ccc;}
.bdsharebuttonbox a.first{margin: 0;}
.bdsharebuttonbox .shareCancel{text-align: center;color: #38a3eb;background: #fff;line-height: 3rem;height:3rem;border-radius:0.5rem;}
.bgsharebuttonbox{background:#000; width:100%; height:100%; z-index:997;position:absolute; top:0 ;left:0; opacity: 0.3; filter:alpha(opacity=30); display:none;}
.bdsharebuttonbox img{ width:1.6rem; height:1.6rem; display:inline-block; vertical-align:middle; margin-right:0.2rem;}

.information{color:#666;font-size:0.8rem;padding:1.5rem 0;width:100%;margin:0 auto;word-break:break-all;overflow:hidden;background:#f7f7f7; text-align:center;}
.copycontent{width:70%;z-index: 999;background-color: #f7f7f7;margin-left:15%;border-radius: 0.5rem;padding-top: 1rem;top:50%; position:absolute; display:none;}
.nocopy{font-size:1rem;width:33%;height:2rem;border-radius: 0;border-bottom-left-radius: 1rem;float: left;background: none;border: none;border-right:1px solid #ececec;color: #666;box-sizing: border-box;}
.copy{width:32%;border:0; border-right:1px solid #ececec;box-sizing: border-box;height:2rem;border-radius:0;background: none;color: #007aff;font-size:1rem;}
.copy:last-child{ border:0;}
.copybox{width: 90%;position:relative; border:1px solid #cdcdcd; margin: 1rem auto 2rem; font-size:1.3rem;}
.copybox::before{content:attr(title); width:7rem; text-align: center; position:absolute; left:50%; transform:translateX(-50%); -webkit-transform:translate(-50%,-50%); background-color:#f7f7f7; color:#333;}
.copycontent .btn{border-top: 1px solid #ececec;width: 100%;height: auto;}

/*账户设置 */
.user-setting dl{height:7.5rem; margin:1.5rem 0 1rem; background:#fff; padding:0 1rem 0 1.2rem;}
.user-setting dl img{width:6rem; height:6rem; display:block;border-radius:6rem; }
.user-setting dt{float:left;padding-top:0.75rem;}
.user-setting dd{float:left; padding:0.75rem 0 0.75rem 1rem;width:76%;height:6rem; position:relative;}
.user-setting dd h2{ font-size:1.2rem; color:#666; padding-top:1rem;}
.user-setting dd p{font-size:1rem; color:#999; padding-top:0.75rem;}
.user-setting dd em{ position:absolute; right:0;top:40%; display:inline-block;float:right;background:url(../images/jt_left.jpg) no-repeat; background-size:100%; width:0.7rem;height:1.25rem; }
.user-setting{background:#eee; font-family:"Microsoft Yahei"; padding-bottom: 5rem;}
.user-setting ul{ background:#fff; margin-bottom: 3rem;}
.user-setting li{height:4rem; padding:0 1rem; line-height:4rem; border-bottom:solid 1px #eaeaea;}
.user-setting li:last-child{border:0; }
.user-setting li span{font-size:1rem; color:#999; float:right; padding-right: 1rem;}
.user-setting li a{ display:block; width:100%; height:100%;font-size:1rem; color:#666;}
.user-setting li em{ display:inline-block;float:right;background:url(../images/jt_left.jpg) no-repeat 0 50%; margin-top:1.125rem; background-size:100%; width:0.7rem;height:1.25rem; }
.user-setting li span.red{color:#da5155;}
.user-setting li:first-child{ border-bottom:0;  }
.user-setting li img{border-radius:3.1rem;width:3.1rem; height:3.1rem; margin-top:0.5rem;}
.user-setting li.ts{background:#eee; height:1rem;}
.user-setting .btn{ width:23.5rem; height:3.2rem; line-height:3.2rem; display:block; margin:0 auto; text-align:center; font-size:1.4rem; color:#fff;background:url(../images/usersetting2.jpg) no-repeat 0 50%; background-size:100%;}
.nicksetting{ font-size:1.2rem;color:#333; height:4rem; width:100%;}
#container{ position:relative;}
.moxie-shim{position: absolute; top: 0px; left: 0px; width: 100%; height: 4rem; z-index: 0;}
#html5_file{opacity: 0; position: absolute; top: 0px; left: 0px; width: 100%; height: 4rem;}

/*关于我们 */
.aboutus-top{ height:4.3rem; background:#fff;  padding: 0 1rem; position:relative;}
.aboutus-top a{ display:inline-block; width:1.7rem;height:1.7rem; top:1.3rem; position:absolute;}
.aboutus-top h2{ text-align: center; font-size:1.4rem; color:#666; line-height: 4.3rem;}
.aboutus .banner{ height:18.55rem;background:url(../images/aboutus.jpg) no-repeat; background-size:100%;}
.aboutus{background:#eee; font-family:"Microsoft Yahei";}
.aboutus ul{ background:#fff; margin-top:1.2rem; margin-bottom: 3rem;}
.aboutus li{height:4rem; padding:0 1rem; line-height:4rem; border-bottom:solid 1px #eaeaea;}
.aboutus li:last-child{border:0; }
.aboutus li span{font-size:1rem; color:#999; float:right; padding-right: 1rem;}
.aboutus li a{ display:block; width:100%; height:100%;font-size:1rem; color:#999;}
.aboutus img.ss{ width:1.5rem; height:1.5rem; vertical-align:middle; display:inline-block;}
.aboutus li span.red{color:#f06868;}
.aboutus .ewm{ margin:0 auto; width:10rem;}
.aboutus .ewm span{ display:block;font-size:1rem; color:#999; text-align:center; padding-top:0.5rem; padding-bottom:0.5rem; }
.aboutus .ewm a{color: #999;font-size:0.8rem; margin-left:0.5rem; margin-bottom:0.5rem;}
.aboutus .ewm a.last{ float:right; margin-right:0.5rem; margin-left:0;}
.aboutus-footer{ font-size:1rem; color:#999; text-align:center; padding-bottom:1rem;  } 

/*  兑换  */
.m-exchange{background:#eee; padding-bottom:4rem;}
.m-exchange h2{ font-size:1.2rem; color:#333; height:4.2rem; line-height:4.2rem; padding-left:1.5rem; }
.m-exchange h2 span{ font-size:1.2rem; color:#f06868;}
.m-exchange dl{ height:8.25rem; border-bottom:solid 1px #eaeaea; background:#fff;padding:1.5rem 1.5rem 0;}
.m-exchange dt{ width:22%; height:6.4rem; display:inline-block; float:left;}
.m-exchange dd{width:74%; display:inline-block; float:right;}
.m-exchange h3{ font-size:1.2rem; color:#666; margin-bottom:1.8rem; float:left;}
.m-exchange em{ float:right; font-size:1.2rem; color:#fab549;}
.m-exchange a{ clear:both; display:inline-block; font-size:1.2rem; width:100%; height:3rem; background:#f06868;color:#fff; text-align:center; line-height:3rem; border-radius:0.5rem;}

/*  兑换1  */
.m-exchange1{background:#eee; padding-bottom:4rem;}
.m-exchange1 h2{ font-size:1.2rem; color:#333; height:4.2rem; line-height:4.2rem; padding-left:1.5rem; background:#fff; margin:1rem 0; }
.m-exchange1 h2 span{ font-size:1.2rem; color:#f06868;}
.m-exchange1 dl{ background:#fff;padding:0.8rem;font-size:1.2rem;color:#666; height:auto; overflow:auto;}
.m-exchange1 dl.first{ padding-top:1.6rem;}
.m-exchange1 dl.last{ padding-bottom:1.6rem;}
.m-exchange1 dt{ width:21%; height:3rem; line-height:3rem; text-align:right; float:left;}
.m-exchange1 dd{ width:79%; float:right;}
.m-exchange1 dl input{ height:3rem;}
.m-exchange1 dl select{height:3.1rem;}
.m-exchange1 .btnduihuan{ margin:0 2.5rem;}
.m-exchange1 a{ display:block; width:48%; height:3.2rem; margin-top:2rem;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; float:left;}
.m-exchange1 a.first{ margin-right:4%;}
.m-exchange1 .money{ background:#fff; font-size:1rem;padding:0 0.8rem 1.6rem; text-align:right; }
.m-exchange1 .money span{color:#f06868; }
.m-exchange1 footer{font-size:1.2rem; color:#999; overflow:hidden; padding:1rem; clear:both; }

/*  赠送乐币  */
.m-givelecoin{background:#eee; font-family:"Microsoft Yahei"; padding-bottom: 5rem;}
.m-givelecoin h3{ font-size:1.2rem; color:#333; padding-left:1rem; height:4rem; line-height:4rem;}
.m-givelecoin h3 span{ color:#f06868;}
.m-givelecoin ul{ background:#fff; padding:1rem; margin-bottom:3rem;}
.m-givelecoin li{height:4rem; line-height:4rem; font-size:1rem; color:#666; }
.m-givelecoin input{ border:solid 1px #e6e6e6; height:2.9rem; width:80%; margin-left:3%;}
.m-givelecoin li span{ display:inline-block; width:16%; text-align:right;}
.m-givelecoin .btn{ width:23.5rem; height:3.2rem; line-height:3.2rem; display:block; margin:0 auto; text-align:center; font-size:1.4rem; color:#fff;background:url(../images/usersetting2.jpg) no-repeat 0 50%; background-size:100%;}

/*  乐币明细  */
.m-moneydetail{ font-family:"Microsoft Yahei";}
.m-moneydetail ul{ background:#fff; margin-top:1rem;}
.m-moneydetail li{ height:4.6rem; border-bottom:solid 0.05rem #ededed;}
.m-moneydetail li span{ display:inline-block;}
.m-moneydetail li span.time{ font-size:1rem;  margin-left:1.5rem;margin-top:1rem;  width:6rem;}
.m-moneydetail li span.time b{color:#666; display:block;}
.m-moneydetail li span.time em{ display:block;color:#999;}
.m-moneydetail li span.img{  width:2.5rem; height:2.5rem;font-size:1rem; line-height:2.5rem; border-radius:2.5rem; background:#f06868;color:#fff; text-align:center; vertical-align:text-bottom;  }
.m-moneydetail li span.word{ font-size:1rem; color:#999;vertical-align:top;margin-top:0.8rem; margin-left:2rem; width:3rem; text-align:center; }
.m-moneydetail li span.word em{ font-size:1.2rem; color:#333; display:block;}
.m-moneydetail li span.word em.red{color:#f06868;}
.m-moneydetail li a{ display:block; width:100%; height:4.6rem;}

.m-moneydetail1{background:#eee; font-family:"Microsoft Yahei"; padding-bottom: 5rem; margin-bottom:3rem;}
.m-moneydetail1 .detail{height:3rem; line-height: 3rem; border-bottom:solid 1px #eaeaea; background:#fff; color:#999; }
.m-moneydetail1 .label{display:inline-block; width:22%; font-size:1rem; color:#666; text-align:right;}
.m-moneydetail1 .word{display:inline-block; width:76%;font-size:0.9rem;}
.m-moneydetail1 .detail:first-child{ margin-top:1rem;}

/*  个人资料  */
.m-userdata dl{height:7.5rem; margin:1.5rem 0 1rem; background:#fff; padding:0 1rem 0 1.2rem;}
.m-userdata dl img{width:6rem; height:6rem; display:block;border-radius:6rem; }
.m-userdata dt{float:left;padding-top:0.75rem;}
.m-userdata dd{float:left; padding:0.75rem 0 0.75rem 1rem;width:76%;height:6rem; position:relative;}
.m-userdata dd h2{ font-size:1.2rem; color:#666; padding-top:1rem;}
.m-userdata dd p{font-size:1rem; color:#999; padding-top:0.75rem;}
.m-userdata dd em{ position:absolute; right:0;top:40%; display:inline-block;float:right;background:url(../images/jt_left.jpg) no-repeat; background-size:100%; width:0.7rem;height:1.25rem; }
.m-userdata{font-family:"Microsoft Yahei"; padding-bottom: 5rem;}
.m-userdata ul{ background:#fff; margin-top:1.2rem; margin-bottom: 3rem;}
.m-userdata li{height:4rem; padding:0 1rem; line-height:4rem; border-bottom:solid 1px #eaeaea;}
.m-userdata li:last-child{border:0; }
.m-userdata li img{ width:1.5rem; height:1.5rem; margin:0; display:inline-block; vertical-align: sub; padding-right:0.5rem;}
.m-userdata li span{font-size:1.2rem; color:#ccc; float:right; padding-right: 1rem;}
.m-userdata li a{ display:block; width:100%; height:100%;font-size:1.2rem; color:#999;}
.m-userdata li em{ display:inline-block;float:right;background:url(../images/jt_left.jpg) no-repeat 0 50%; margin-top:1.125rem; background-size:100%; width:0.7rem;height:1.25rem; }
.m-userdata li span.red{color:#da5155;}
.m-userdata .btn{ width:23.5rem; height:3.2rem; line-height:3.2rem; display:block; margin:0 auto; text-align:center; font-size:1.4rem; color:#fff;background:url(../images/usersetting2.png) no-repeat; background-size:100%;}

/*  用户充值  */
.m-recharge .yue{ height:3.75rem; line-height: 3.75rem; background:#fff; text-align: center;width:100%; margin-top: 1.4rem;}
.m-recharge .yue .label{font-size:1rem; color:#666;border-right:solid 1px #e3e3e3;  padding-right:0.75rem; vertical-align:inherit;}
.m-recharge .yue .money{font-size:1.6rem; color:#da5155;padding-left:0.5rem; vertical-align:sub; }
.m-recharge .recharge{}
.m-recharge .recharge .label{ padding-top: 1.75rem; padding-bottom: 0.8rem; border-bottom:solid 1px #dbdbdb;}
.m-recharge .recharge .label1{ padding-left:1.5rem;}
.m-recharge .recharge h2{ display:inline-block; color:#333; font-size:1.4rem; padding-right: 0.5rem; padding-left:1rem;}
.m-recharge .recharge h3{ display:inline-block;color:#999; font-size:1rem;}
.m-recharge .recharge .body{padding:1.25rem 1.5rem 0; font-size:1rem; color:#666;}
.m-recharge .recharge .body div{ width:8.7rem; height:3rem; font-size:1.2rem; color:#666; text-align:center; line-height:3rem; border-radius:3rem; display:inline-block; border:solid 1px #e1e1e1; margin-right:0.65rem; margin-bottom:1rem; background:#fff;}
.m-recharge .recharge .body div.last{ margin-right:0;}
.m-recharge .recharge .body div.hover{color:#fff; background:#ff9c00;}
.m-recharge .recharge .body span{ display:block; width:100%; height:3rem;font-size:1.2rem; color:#666;line-height:3rem; border-radius:3rem;border:solid 1px #e1e1e1; background:#fff;}
.m-recharge .recharge .body span input{ width:85%; height:2rem;font-size:1.2rem; color:#666; line-height: 2.5rem; margin-left:1.5rem;padding-top:0.5rem;}
.m-recharge ul{ background:#fff;}
.m-recharge li{height:3.5rem; padding:0 1rem; line-height: 3.5rem; font-size:1.2rem; color:#666; }
.m-recharge li:first-child{ border-bottom:solid 1px #eaeaea;}
.m-recharge li img{ width:1.5rem; height:1.5rem; margin:0; display:inline-block; vertical-align: middle; padding-right:0.5rem;}
.m-recharge li em{ display:inline-block; float:right;}
.m-recharge li b{ display:inline-block;background:url(../images/nook.jpg) no-repeat 0 50%; margin-top:1rem; background-size:100%; width:1.5rem;height:1.5rem; }
.m-recharge li.hover b{background:url(../images/ok.jpg) no-repeat 0 50%;background-size:100%;}
.m-recharge .type{ height:10rem;}
.m-recharge-ft{ position:fixed; bottom:0;  max-width:640px;height:3.5rem; width:100%;line-height: 3.5rem; color:#fff; text-align:center; background:#da5155; }
.m-recharge-ft input{ display:block;font-size:1.2rem; color:#fff;height:3.5rem; width:100%;line-height: 3.5rem; border-radius:0; border:0; background:transparent; }
.m-recharge-ft a{display:block;font-size:1.2rem; color:#fff;height:3.5rem; width:100%;line-height: 3.5rem; border-radius:0; border:0; background:transparent;}

/*  微信充值二维码   */
.m-weixin .nav{ width:100%; height:70px;border-bottom: solid #e9e9e9 1px;box-shadow: 0 2px 2px #f2f2f2;background: #fff;}
.m-weixin .content{ width:1000px; margin:0 auto;}
.m-weixin .nav a{ padding-top:18.5px; padding-right:17px;float:left; }
.m-weixin .nav span{ font-size:18px;border-left:solid 1px #ccc; padding-left:17px; line-height:70px;}

.m-weixin h2{ margin-top:60px; line-height:40px;border-bottom: 3px solid #ff7701;}
.m-weixin b{ font-size:20px;color: #4e4e4e;} 
.m-weixin h3{font-size:26px; text-align:center;margin:60px 0 20px;}
.m-weixin table{ font-size:16px; margin:0 auto;border-collapse: collapse;}
.m-weixin table td{border:1px solid #ccc; line-height:44px; padding-left:16px;}
.m-weixin table td.g-bg{ background:#fbfbfb; width:125px; height:44px;}
.m-weixin table td.g-cl{ color:#ff7700;width:266px; height:44px;}
.m-weixin p.pay{ text-align:center;font-size: 12px; width:190px; margin:0 auto; position:relative;}
.m-weixin p.pay span{ display:block; background:url('../images/pay_04.png') no-repeat; padding-left:15px;color: #8a8a8a;margin: 10px 0 20px 10px; height:20px;}
.m-weixin p.pay .sm{ position:absolute; top:-80px; left:220px;}
.m-weixin p.pay-ok{ text-align:center;font-size: 18px; width:190px; margin:70px auto 0;}
.m-weixin p.pay-ok span{ display:block;color: #8a8a8a;margin:0 0 20px 10px; height:20px;}
.m-weixin p.pay-ok .sm{ position:absolute; top:-80px; left:220px;}
.m-weixin h4{font-size:30px; text-align:center;margin:40px 0 20px; text-align:center; font-weight:bold;}

.m-weixin p.pay-tip{ text-align:center; font-size:20px;}
.m-weixin p.pay-tip .nickname{ color:#666; font-size:18px;}
.m-weixin p.pay-tip .money{color:#ff7701; font-size:20px;}

.m-weixin p.pay-tip .btn-ewm{ display:block; width:200px; height:45px; line-height:45px; text-align:center; color:#fff; background:#ff7701; font-size:18px; margin:15px auto 0;}