

/*头部开始 */
.main dl{height:7.5rem; margin:1.5rem 0 1rem; background:#fff; padding:0 1rem 0 1.2rem;}
.main dl img{width:6rem; height:6rem; display:block;border-radius:6rem; }
.main dt{float:left;padding-top:0.75rem;}
.main dd{float:left; padding:0.75rem 0 0.75rem 1rem;width:76%;height:6rem; position:relative;}
.main dd h2{ font-size:1.2rem; color:#666; padding-top:1rem;}
.main dd p{font-size:1rem; color:#999; padding-top:0.75rem;}
.main dd em{ position:absolute; right:0;top:40%; display:inline-block;float:right;background:url(../images/jt_left.jpg) no-repeat; background-size:100%; width:0.7rem;height:1.25rem; }

.main{background:#eee; font-family:"Microsoft Yahei"; padding-bottom: 5rem;}
.main ul{ background:#fff; margin-top:1.2rem; margin-bottom: 3rem;}
.main li{height:4rem; padding:0 1rem; line-height:4rem; border-bottom:solid 1px #eaeaea;}
.main li:last-child{border:0; }
.main li span{font-size:1rem; color:#999; float:right; padding-right: 1rem;}
.main li a{ display:block; width:100%; height:100%;font-size:1rem; color:#666;}
.main li em{ display:inline-block;float:right;background:url(../images/jt_left.jpg) no-repeat 0 50%; margin-top:1.125rem; background-size:100%; width:0.7rem;height:1.25rem; }
.main li span.red{color:#da5155;}
.main li:first-child{ border-bottom:0;  }
.main li img{border-radius:3.1rem;width:3.1rem; height:3.1rem; margin-top:0.5rem;}
.main li.ts{background:#eee; height:1rem;}
.main .btn{ width:23.5rem; height:3.2rem; line-height:3.2rem; display:block; margin:0 auto; text-align:center; font-size:1.4rem; color:#fff;background:url(../images/usersetting2.jpg) no-repeat 0 50%; background-size:100%;}


.nicksetting{ font-size:1rem;color:#333; height:4rem; width:100%;}

