.dropload-up,.dropload-down{
    position: relative;
    height: 0;
    font-size:1rem;
    overflow: hidden;
    /* 开启硬件加速 */
    -webkit-transform:translateZ(0);
    transform:translateZ(0);
}
.dropload-down{
    height: 2rem;
}
.dropload-refresh,.dropload-update,.dropload-load,.dropload-noData{
    height: 2rem;
    line-height: 2rem;
    text-align: center;
}
.dropload-load .loading1{
    display: inline-block;
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    margin: 0.3rem;
    border: 0.1rem solid #666;
    border-bottom-color: transparent;
    vertical-align: middle;
    -webkit-animation: rotate 0.75s linear infinite;
    animation: rotate 0.75s linear infinite;
}
@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


