.g_module{background:url('../images/mmodule1.png') no-repeat;background-size:100%; height:17.5rem; display:block;}
.module{ display:block; color:#fff; position:relative;margin-top:1rem;}
.module h2{ left:12%; top:55%; position:absolute; font-size:1.4rem; }
.module1{background:url('../images/mmodule2.jpg') no-repeat;background-size:100%; height:8.4rem;}
.module2{background:url('../images/mmodule3.jpg') no-repeat;background-size:100%; height:8.4rem;}
.module3{background:url('../images/mmodule4.jpg') no-repeat;background-size:100%; height:8.4rem;}

.nav{ margin-top:1rem;}
.nav .menu a{ display:inline-block; float:left; width:50%; color:#fff; background:#cccccc; font-size:1.4rem; line-height:3.5rem; height:3.5rem; text-align:center;}
.nav .menu a.hover{ background:#4291e2;}
.nav dl{ font-size:1.2rem;}
.nav dt{ float:left; width:40%;padding:1rem 0; height:2.1rem;border-bottom:solid 1px #ededed;}
.nav dd{ float:right; width:55%;padding:1rem 0;height:2.1rem;line-height:2.1rem;color:#444; padding-left:5%;border-bottom:solid 1px #ededed;}
.nav dt img{ display:inline-block;  width:2.1rem; height:2.1rem;vertical-align:middle; margin-left:1rem; }
.nav dt span{ vertical-align:middle;}
.nav dt span.title{color:#444; margin-left:0.5rem; width:5rem; white-space:nowrap; overflow:hidden; display:inline-block;}
.nav dt span.time{color:#999; float:right; line-height:2.1rem;}
.nav ul{ font-size:1.2rem;}
.nav li{ float:left; width:100%;padding:1rem 0; height:2.1rem;border-bottom:solid 1px #ededed;}
.nav li img{ display:inline-block;  width:2.1rem; height:2.1rem;vertical-align:middle; margin-left:1rem; }
.nav li span{ vertical-align:middle;}
.nav li span.title{color:#444; margin-left:0.5rem; width:6rem; white-space:nowrap; overflow:hidden; display:inline-block;}
.nav li span.time{color:#999; line-height:2.1rem; padding-left:0.5rem;}
.nav li span.des{color:#999; float:right; line-height:2.1rem; float:right; margin-right:1rem;word-wrap:break-word;white-space:nowrap;}
.nav .panel-footer{ display:none; !important;}
.more { height:7rem;}

/*  挑战模式  */
.tiaozhan a{ display:block;}
.tiaozhan dl{ height:12rem; border-bottom:solid 1px #ebebeb; padding:1.5rem;}
.tiaozhan dt{ float:right; width:35%;}
.tiaozhan dd{ float:left; width:65%;}
.tiaozhan h2{ color:#444; font-size:1.4rem;}
.tiaozhan p{ font-size:1.1rem; color:#999; line-height:2rem; padding:0.5rem 0;}
.tiaozhan span{ display:block; width:7.25rem; height:2.5rem; background:#61adfa; color:#fff; text-align:center; line-height:2.5rem; margin-top:0.5rem;}
.tiaozhan img{ width:9.6rem; heght:9.25rem;}
.tiaozhan h2 em{ color: #f06868; margin-left: 0.5rem; font-size:1.2rem;}

/*  乱斗模式  */
.banner{ background:url('../images/ldbanner.jpg') no-repeat; background-size:100%; height:17.15rem; position:relative;  }
.banner .menu{ position:absolute; height:3.5rem; bottom:0; width:100%; }
.banner .menu li{float:left; width:33.33%; font-size:1.2rem; color:#cccccc; height:3.2rem; padding-top:0.3rem; text-align:center; opacity: 0.8; filter:alpha(opacity=80); background:#333;}
.banner .menu li span{ font-size:1rem; display:block;}
.banner .menu li.hover{ color:#e23955;background:#fff55a; opacity: 1; filter:alpha(opacity=100); }
.banner .menu li.hover span{ color:#e23955;}
.banner .menu li:last-child{ width:33.345%; }
.banner .menu li.pointer{ cursor:pointer;}

.rule{margin:2rem 1rem 2rem 1.5rem; overflow:hidden;}
.rule dt{ float:left;}
.rule dd{float:right;}
.rule h2{ font-size:1.2rem; color:#444444;}
.rule p{ font-size:1rem;color:#999999; padding-top:0.8rem;}
.rule a{ display:block;width:6rem; height:2.25rem; background:#479ef6; color:#fff; text-align:center; line-height:2.25rem; margin-top:1rem; font-size:1rem;}

.jackpot{ background:url('../images/ldmoney.jpg') no-repeat; background-size:100%; height:3.3rem;  padding-top:4.5rem; padding-left:1.5rem; }
.jackpot span{ font-size:1.8rem; color:#fff;}
.jackpot em{ font-size:1.2rem; padding-left:0.5rem;}

.dec{ font-size:1.1rem; color:#999; line-height:2rem; padding-top:1rem; padding-left:2rem;}
.dec .r{ color:#f13e5c;}
.dec .b{ color:#444;}
.btn-baoming{ width:72%; height:4rem; line-height:4rem; text-align:center; border-radius:4rem; background:#3c97f4; font-size:1.6rem; color:#fff; margin:3.3rem auto; cursor:pointer;}


