

.main{ padding:3rem 2rem 0; background:#eee;}
.main .input{background:#fff; border:solid 1px #dcdcdc; height:3.5rem; position:relative; }
.main .password{ margin-top:0.75rem;}
.main input{ width:85%; height:100%;font-size:1rem; color:#666; display:inline-block; position:absolute;}
.main .autologin{ float:right;color:#999; font-size:1rem; padding-top:0.75rem;}
.main .autologin img{ display:inline-block; width:1.4rem; height:1.4rem; vertical-align: text-top; margin-right:0.3rem;}
.main .btn{ margin-top:1.8rem; background:#da5155; height:3.6rem; line-height: 3.6rem; border-bottom:solid 0.15rem #b64043; text-align: center; }
.main .btn a{ width:100%; height:100%; display:block; color:#fff; font-size:1.8rem;}
.main .forgetPwd{padding-top:0.75rem;}
.main .forgetPwd a{ color:#999; font-size:1rem;}

.main a.register{ float:right; color:#da5155;}


.main .input em{ display:inline-block; width:1.5rem;height:3.5rem; background:url(../images/user.jpg) no-repeat 3% 50%; background-size:100%; margin:0 0.5rem 0 1rem;}
.main .password em{background:url(../images/password.jpg) no-repeat 3% 50%; background-size:100%;}

.g_ft{ background:#eee url(../images/bglogin.jpg) no-repeat top center; background-size:100%; height:5rem;margin:0 auto; padding:3rem 0;  }
.g_ft ul{margin-left:45%; }
.g_ft li{float:left; margin-right:1rem;}
.g_ft li.last{ margin-right:0;}
.g_ft a{ width:3rem; height:3rem; display:block; text-align:center;}
.g_ft span{ display:block; font-size:1rem; color:#7c7c7c;}