/*头部开始 */
nav ul{ margin:2rem 3%;}
nav li{ width:32%; height:3.75rem; border-radius:3.75rem; float:left; background:#f4961c; line-height:3.75rem; text-align:center; margin-right:2%;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; }
nav li:nth-child(2){ background:#7654da;}
nav li a{ font-size:1.4rem; color:#fff;}
nav li:last-child{ margin-right:0; background:#e15169;}

.menu ul{ height:3.3rem; padding: 0 1rem; margin:1.5rem 0 0.75rem; background:#11abf2; padding-top:0.5rem;}
.menu li{ float:left; width:33.33%;height:3.3rem; text-align:center; line-height:3.3rem; color:#FFF; font-size:1.4rem; }
.menu li.hover{ color:#11abf2; background:#fff; border-radius:0.5rem 0.5rem 0 0;}

.module{ display:block; color:#fff; position:relative;margin-top:1rem;background-size:100%; height:9.3rem;}
.module h2{ left:6.5%; top:45%; position:absolute; font-size:1.2rem; line-height:2rem; }
.module1{background:url('../images/zhankeng1.jpg') no-repeat;background-size:100%;}
.module2{background:url('../images/zhankeng2.jpg') no-repeat;background-size:100%; height:9.3rem;}
.module3{background:url('../images/zhankeng3.jpg') no-repeat;background-size:100%; height:9.3rem;}
.module4{background:url('../images/zhankeng4.jpg') no-repeat;background-size:100%; height:9.3rem;}
.module5{background:url('../images/zhankeng5.jpg') no-repeat;background-size:100%; height:9.3rem;}

.tips{ margin:1.5rem 0 2rem;}
.tips h2{ width:9.9rem; height:2.9rem; line-height:2.9rem; text-align:center; background:url('../images/tips.png') no-repeat; background-size:100%; color:#fff; font-size:1.2rem;}
.tips li{ color:#444; font-size:1.2rem; padding-top:1rem; padding-left:2rem;}

/*  占坑页面  */
.g_w{ margin:1rem;}
.g_w p{ border-top:solid 1px #ebebeb;font-size:1.1rem; height:4rem; line-height:4rem;}
.g_w p.last{border-bottom:solid 1px #ebebeb; height:5.75rem; line-height:5.75rem;}
.g_w .word{ color:#999;}
.g_w .w1{color:#378fe9;}
.g_w .w2{color:#444;}
.g_w .btn1{font-size:1rem; display:inline-block; background:#479ef6; width:5rem; height:2.25rem; text-align:center; line-height:2.25rem; color:#fff; margin-top:0.875rem; margin-right:0.5rem;}
.g_w .last{margin-right:0;}
.g_w .btn2{ display:inline-block; background:#e15169; width:6.6rem; height:2.8rem; text-align:center; line-height:2.8rem; color:#fff; margin-top:1.475rem; vertical-align:bottom;}
.g_w input{ border-radius:0; height:2.8rem; color:#999; text-align:center; font-size:1rem; border:solid 1px #e3e3e3; border-right:0; width:10.9rem; box-sizing:border-box;-moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.g_showk{font-size:1.1rem; margin:0 1rem 1.5rem; cursor:pointer;color:#444; }
.g_showk a{ float:left; display:block; width:1.4rem; height:1.4rem; background:url('../images/zkgou.jpg') no-repeat;background-position:0 -1.4rem; background-size:100%; margin-right:0.5rem; vertical-align:bottom;}
.g_showk.hover a{background-position:0 0;}
.g_w .underline{ text-decoration:underline; cursor:pointer;}

.circle{margin:0 1rem;}
.circle li{ font-size:1.9rem; color:#b2b2b2; text-align:center; line-height:5.2rem; float:left; width:5.2rem; border-radius:5.2rem; margin-bottom:0.95rem; margin-right:0.95rem;border:solid 1px #e1e1e1;box-sizing:border-box;-moz-box-sizing:border-box; -webkit-box-sizing:border-box; cursor:pointer;}
.circle li.last{ margin-right:0;}
.circle li img{  border-radius:5.2rem;}
.circle li.visibility{ visibility:hidden;}
.circle li:nth-child(5n+1){clear:both;}

.circle_e{margin:0 1rem;}
.circle_e li{position: relative; font-size:1.9rem; color:#b2b2b2; text-align:center;width:5.2rem;float:left; margin-bottom:0.95rem;  margin-right:0.95rem; cursor:pointer;}
.circle_e li.last{ margin-right:0;}
.circle_e li img{  border-radius:5.2rem;  }
.circle_e li.visibility{ visibility:hidden;}
.circle_e li:nth-child(5n+1){clear:both;}
.circle_e li span{ font-size:1rem;}
.circle_e em.win{position: absolute;left:0;top:0;background: url(../images/zk_win.png) no-repeat; background-size: 100%; width: 5.2rem;height:5.2rem;}
.circle_e em.lose{position: absolute;left:0;top:0;background: url(../images/zk_lose.png) no-repeat; background-size: 100%; width: 5.2rem;height:5.2rem;}
.circle_e em.winner{position: absolute;left:-0.5rem;top:-1rem;background: url(../images/ico3.png) no-repeat; background-size: 100%; width: 5.7rem;height:6.2rem;}
.circle_e em.lucy{position: absolute;left:0;top:0;background: url(../images/zk_luky.png) no-repeat; background-size: 100%;width: 5.2rem;height:5.2rem;}


.g_ft{ padding:0 1rem; height:4rem; line-height:4rem; background:#3c97f4; color:#fff; font-size:1.2rem; margin-top:1rem;}
.g_ft .ct{ padding-left:3rem;}
.g_ft a{ display:inline-block; width:8.5rem; height:3rem; line-height:3rem; text-align:center; margin-top:0.5rem; border-radius:3rem; border:solid 1px #75b6f7; font-size:1.4rem; color:#fffa89;}

.g_ken{padding-top: 1.5rem;}
.g_ken h2{margin-left: 5%;height: 2.5rem;line-height: 2.5rem;border-bottom: 1px solid #eaeaea;font-size: 1.4rem;font-weight: normal;color: #378fe9; margin-bottom: 0.6rem;}
.g_ken ul{height: 2.3rem;line-height: 2.3rem; margin-bottom: 0.8rem;}
.g_ken li{float: left;width: 45%;padding-left: 5%;font-size: 1.2rem;color: #444444;}
.g_ken li b{font-weight: normal;color: #e1516a; padding: 0 5%;}
.g_ken li em{display: inline-block; width:1.5rem; height:1.5rem; cursor:pointer; }
.g_ken li em img{margin-top:0.3rem;}
.g_ken dl{background: #f6f6f6;padding: 0 4%;height: 7.2rem; padding-top: 0.5rem;}
.g_ken dt{position: relative; float: left;width: 6rem;height: 6.6rem;margin-right: 3%;}
.g_ken dt img{width: 100%;display: block;}
.g_ken dt em{position: absolute;left:0;top:0;background: url(../images/ico2.png) no-repeat; background-size: 100%; width: 6rem;height: 6.6rem;}

.g_ken dd{float: left;width: 76%;}
.g_ken h3{height: 2.4rem;height: 2.4rem;font-size: 1.1rem;font-weight: normal;color: #e7b507;}
.g_ken p{font-size: 1.1rem;line-height: 2.2rem;color: #999999;}
.g_ken p span{display: block;}
.g_ken p em{color: #e1516a;}


/*   报名占坑   */
.main{ margin-top:0.9rem; background:#eee; font-family:"Microsoft Yahei";background-size:100%;}
.main dl{ margin-bottom: 1rem;height:12.75rem;background:url(../images/bm_banner.jpg) no-repeat; background-size:100%; position:relative;}
.main h3{ position:absolute; left:1.9rem; top:1.4rem; }
.main h3 a{color:#fff;font-size:1.4rem;}
.main p{  padding-top:0.5rem;position:absolute; left:1.9rem; top:3.5rem; line-height:2rem; width:14rem; text-align:justify;}
.main p span.content{color:#afc1ee; font-size:1.2rem;}


.main .choose{margin-bottom: 1rem; height:8.5rem; background:#fff; padding:1.3rem 1rem 0; }
.main .choose .label{font-size:1rem;color:#666;width:22%; text-align:right;display:inline-block; font-weight:normal !important;}
.main .choose .dropdown{ width:76%;   margin-top:0.6rem; }
.main .choose .word{ float:right; font-size:1rem; color:#666; padding-top:1.125rem; display:block;}
.main .choose .word i{color:#f06868;}
.main .choose a{ display:inline-block; width:6rem; height:2rem; text-align:center; line-height:2rem; color:#f06868; border:solid 1px #f06868; font-size:1rem; margin-right:1rem;}
.main .choose a.hover{ background:#f06868; color:#fff;}

.main .rule{margin-bottom: 1rem;background:#fff; padding-bottom:1rem;text-align:justify;  }
.main .rule h2{ height:2.6rem; line-height: 2.6rem; text-align: center; width:7.2rem; border-radius:0 2.6rem 2.6rem 0; background:#da5155; color:#fff; font-size:1.2rem;}
.main .rule ul{padding:1rem 1rem 0;}
.main .rule li{font-size:0.9rem; color:#666; margin-bottom:0.8rem; text-align:justify;}
.main .rule li.ts{ line-height: 1.5rem;}
.main .rule li i{ display:inline-block; width:1.1rem; height:1.1rem; line-height: 1.1rem; border-radius: 1.1rem; background:#e79d27; color:#fff; text-align: center; margin-right:0.5rem;}
.main .rule li span.gray{color:#999; }
.main .rule li span.red{color:#da5155; }
.main .rule li em{ display:inline-block;width:1.6rem;}

.nav-tabs{padding:0.5rem 0 0 1rem;}
.nav-tabs li a{color:#666 !important;}
.nav-tabs li.active a{color:#da5155 !important;}

.main .zone{background:#fff;margin-bottom:1rem; padding:0 1rem;}
.main .zone span{font-size:1rem; width:22%; display:inline-block; color:#666; text-align:right;}
.main .zone .dropdown{width:76%;   margin-top:0.6rem;}
.main .zone .first{ padding-top:0.7rem;}
.main .zone .text{width:76%;  margin-top:0.6rem;}
.main .invite{ padding:1rem 0;}
.main .invite a{ display:block; width:14.5rem; height:2.75rem; line-height:2.75rem; border-radius:2.75rem; color:#fff; font-size:1.2rem; text-align:center; margin:0 auto; background:#ff952d;  }

.main .cost{ height:4.2rem; line-height:4.2rem;width:100%; max-width:640px; background:#000; position:fixed; bottom:0; opacity: 0.7; filter:alpha(opacity=70);}
.main .cost .dropdown{ width:13.6rem; height:2.6rem; border:solid 1px #dedede; margin-top:0.6rem; color:#da5155;font-size:1.2rem;}
.main .cost span{ font-size:1.4rem; color:#fff; padding-top:1.125rem; padding-left:1rem;}
.main .cost span i{color:#fab549;}
.main .cost .pay{margin-right:1rem; width:11.2rem; text-align: center;  display:inline-block; height:3rem; line-height:3rem; background:#ff952d; color:#fff; border-radius: 3rem; font-size:1.4rem; float:right; margin-top:0.65rem;}

.main .reward{ margin-bottom:5rem;background:#fff; font-size:0.9rem; color:#999; }
.main .reward h2{ height:2.6rem; line-height: 2.6rem; text-align: center; width:10rem; border-radius:0 2.6rem 2.6rem 0; background:#da5155; color:#fff; font-size:1.2rem;}
.main .reward ul{margin:1rem 1rem 0; height:12rem; }
.main .reward li{ line-height:2.5rem;}
.main .reward span{ float:right;}
.main .reward span em{color:#f06868;}
.main .panel-footer{ display:none; !important;}


.baidushare{ position:fixed; z-index:999; background:#eaeaea; width:100%; bottom:0;left:0; font-size:1.4rem; color:#333; height:0rem; padding-top:0rem; margin:0 auto; display:none; }
.baidushare .content{ position:absolute; left:34%;}
.baidushare .baidushareClose{  position:absolute; right:0.5rem; top:0.5rem;}
.baidushare .baidushareClose { display:block; width: 1.6rem; height:1.6rem;  float:right;  }
.baidushare .baidushareClose:before, .baidushare .baidushareClose:after {  content: ''; position: absolute; top:1rem; right:1rem;  width:1.6rem; height: 1px;background-color: #888; -webkit-transform: rotate(45deg);transform: rotate(45deg);}
.baidushare .baidushareClose:after {  -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
.baidushare a{ margin-right:2rem !important;}

.bgshare{ background:#000; width:100%; height:100%; z-index:998;position:absolute; top:0 ;left:0; opacity: 0.6; filter:alpha(opacity=60); display:none;}
.bgshare img{ width:20rem; height:16rem; position:absolute; z-index:999; right:1.8rem; top:0rem;}

.information{color:#666;font-size:0.8rem;padding:1.5rem 0;width:100%;margin:0 auto;word-break:break-all;overflow:hidden;background:#f7f7f7; text-align:center;}
.copycontent{width:70%;z-index: 999;background-color: #f7f7f7;margin-left:15%;border-radius: 0.5rem;padding-top: 1rem;top:50%; position:absolute; display:none;}
.nocopy{font-size:1rem;width:33%;height:2rem;border-radius: 0;border-bottom-left-radius: 1rem;float: left;background: none;border: none;border-right:1px solid #ececec;color: #666;box-sizing: border-box;}
.copy{width:32%;border:0; border-right:1px solid #ececec;box-sizing: border-box;height:2rem;border-radius:0;background: none;color: #007aff;font-size:1rem;}
.copy:last-child{ border:0;}
.copybox{width: 90%;position:relative; border:1px solid #cdcdcd; margin: 1rem auto 2rem; font-size:1.3rem;}
.copybox::before{content:attr(title); width:7rem; text-align: center; position:absolute; left:50%; transform:translateX(-50%); -webkit-transform:translate(-50%,-50%); background-color:#f7f7f7; color:#333;}
.copycontent .btn{border-top: 1px solid #ececec;width: 100%;height: auto;}

.main .zhankeng{margin-bottom:1rem; padding-bottom:1rem; background: #fff; overflow:hidden;}
.main .zhankeng h2{height:2.6rem; line-height: 2.6rem; text-align: center; width:7.2rem; border-radius:0 2.6rem 2.6rem 0; background:#da5155; color:#fff; font-size:1.2rem;}
.main .circle1{margin:1rem;}
.main .circle1 li{ font-size:1rem; color:#b2b2b2; text-align:center; line-height:2rem; float:left; width:2rem; height:2rem; border-radius:2rem; margin-bottom:1rem; margin-right:1rem;border:solid 1px #e1e1e1;box-sizing:border-box;-moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
.main .circle1 li.last{ margin-right:0;}

.g_ken1 ul{height: 2.3rem;line-height: 2.3rem; margin-bottom: 0.8rem; margin:0 1rem;}
.g_ken1 li{float: left;width: 50%;font-size: 1.2rem;color: #999;}
.g_ken1 li.last{ text-align:right;}
.g_ken1 li b{font-weight: normal;color: #e1516a; padding: 0 5%;}
.g_ken1 li em{display: inline-block; width:1.5rem; height:1.5rem; cursor:pointer; }
.g_ken1 li em img{margin-top:0.3rem;}
.g_ken1 dl{background: #f6f6f6;padding:0 4%;height: 7.2rem; padding-top: 0.5rem; margin-bottom:1.5rem;}
.g_ken1 dt{position: relative; float: left;width: 6rem;height: 6.6rem;margin-right: 3%;}
.g_ken1 dt img{width: 100%;display: block;}
.g_ken1 dt em{position: absolute;left:0;top:0;background: url(../images/ico2.png) no-repeat; background-size: 100%; width: 6rem;height: 6.6rem;}
.g_ken1 dd{float: left;width: 76%;}
.g_ken1 h3{height: 2.4rem;height: 2.4rem;font-size: 1.1rem;font-weight: normal;color: #e7b507;}
.g_ken1 p{font-size: 1.1rem;line-height: 2.2rem;color: #999999;}
.g_ken1 p span{display: block;}
.g_ken1 p em{color: #e1516a;}
.g_w p a{ display:inline-block; width: 1.5rem; height:1.5rem;}
.g_w p a img{ margin-top: 0.3rem;}

.g_h5{height:5rem;}

.question{ font-family:"microsoft yahei"; color:#666; margin:1rem;}
.question h2{ font-size:1.2rem;padding-bottom:1rem;}
.question ul{}
.question li{font-size:1rem; padding-bottom:1rem; margin-left:2rem; list-style-type:square;clear:both; }
.question li a {color:#666; display:block;}
.question span{ float:left; color:#333;font-size:0.9rem; margin:1rem 0; line-height:1.8rem; text-align:justify;  display:none;}